* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: white;
    color: #000000;
    font-family: 'Playfair Display', serif;
}

h1 {
    margin: 10px 0 20px 0;
    text-align: center;
    letter-spacing: 2px;
}

h2,
h3 {
    font-weight: bold;
    margin: 10px;
    letter-spacing: 1px;
    text-align: center;
}

p {
    text-align: center;
    margin-bottom: 10px;
}

#result {
    margin: 40px 0 10px 0;
    text-align: center;
    font-size: 1.5em;
}

.score-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scores {
    text-align: center;
}

#user-area,
#computer-area {
    margin: 5px;
    gap: 10px;
    background-size: stretch;
}

#computer-area {
    color: darkred;
}

#user-area {
    color: darkgreen;
}

img {
    width: 100%;
}

#hero-select {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

button {
    margin: 5px;
    width: 70px;
    height: 70px;
    border: 2px solid green;
    border-radius: 70px;
    background-color: #426222;
}

button:hover {
    font-weight: bold;
    background-color: lightblue;
}

footer {
    margin: 30px 0;
}

/* Media queries */

@media screen and (max-width: 300px) {
    .score-area {
        flex-direction: column;
    }
}
@media screen and (max-width: 200px) {
     #hero-select {
        flex-direction: column;
    }
}